@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
/* font-family: 'Inconsolata', monospace; */

body {
  color: black;
  font-family: 'Inconsolata', monospace;
}
p,h2 {
  line-height: 20px;
}
p {
  font-size: 1rem;
  color: black;
  font-weight: 400;
}
h2 {
  font-size: 1.4rem;
  font-weight: 400;
}
a:hover {
  color: #ec4646;
}
.change-section-pad {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* ----------------------------------------- Loader ----------------------------------------- */

.loader_bg {
	position: fixed;
	z-index: 999;
	background: #fff;
	width: 100%;
	height: 100%;
}

.loader {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader img {
	width: 280px;
}

/* ----------------------------------------- Navigation ----------------------------------------- */
/* https://getbootstrap.com/docs/4.0/components/navbar/ */

/* -_-_-_-_-_-_-_-_-_-_- Barre & puces -_-_-_-_-_-_-_-_-_-_- */
.change-navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: all 0.5s ease;
}
.change-navbar.scroll {
  background-color: white;
  border-bottom: 3px solid #51c2d5;
}
 .nav-item {
  list-style: none;
 }
/* -_-_-_-_-_-_-_-_-_-_- Titre -_-_-_-_-_-_-_-_-_-_- */
.navbar-brand { /* Mon CV */
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.navbar-brand:hover,
.change-navbar.scroll .navbar-brand:hover {
  color: #ec4646;
}
.change-navbar.scroll .navbar-brand {
  color: black;
}
/* -_-_-_-_-_-_-_-_-_-_- Catégories -_-_-_-_-_-_-_-_-_-_- */
.change-nav-link {
  color: white;
  font-size: 1.2rem;
}
.change-navbar.scroll .change-nav-link {
  color: black;
}
.change-navbar.scroll .change-nav-link:hover,
.change-navbar.scroll .change-nav-link.current,
.change-nav-link:hover {
  color: #ec4646;
}
/* -_-_-_-_-_-_-_-_-_-_- Mini Nav -_-_-_-_-_-_-_-_-_-_- */
.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.change-navbar.scroll .navbar-toggler {
  border: 1px solid black;
}

.change-navbar.scroll .navbar-toggler-icon {
  color: black;
}

/* ----------------------------------------- Scoping ----------------------------------------- */

.scoping {
  height:500px;
  width: 100%;
  background-image:url(../img/scope.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-size: 10%;
  position: fixed;
  top: 7%;
  left: 91vw;
  z-index: 4;
}  

/* ---------------------------------------------------------- Hives ---------------------------------------------------------- */

.hive1 {
  height: auto;
  width: 35%;
  display: block;
  margin-left: 55%;
  margin-right: auto;
  max-width: 500px;
  padding: 0px;
}
.hive2 {
  height: auto;
  width: 35%;
  display: block;
  margin: 8% auto 8% 5%;
  max-width: 500px;
}

/* ---------------------------------------------------------- BANNER ---------------------------------------------------------- */

#banner {
  background-image: url(../img/cockpit-drawing.png);
  background-repeat: no-repeat;
  height: 127vh;
  min-height: 375px;
  min-width: auto;
  position: relative;
  z-index: 5;
}

.change-banner-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.change-banner-text-container-inner {
  margin-top: -282px; /* -235 */
  margin-left: 20px;
}
.change-banner-title {
  font-size: 3.5rem;
  text-shadow: 6px 4px 4px black;
  color: white;
  text-align: center;
  line-height: 1.5;
}
.change-banner-subtitle {
  font-size: 1.5rem;
  text-shadow: 5px 4px 4px black;
  color: white;
  text-align: center;
  line-height: 1.5;
}

/* ---------------------------------------------------------- FORMATIONS ---------------------------------------------------------- */

.padding-robot {
  padding-bottom: 40px;
}
#formations h2 {
  color: #ec4646;
}

/* ---------------------------------------------------------- COMPETENCES ---------------------------------------------------------- */

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- Hover 1-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
.hover1 {
  position: relative;
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
  margin: 0px;
  min-width: 230px;
  max-width: 945px;
  max-height: 600px;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  z-index: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hover1 * {
  box-sizing: border-box;
  transition: all 2.5s ease;
}
.hover1 img {
  max-width: 100%;
  backface-visibility: hidden;
}
.hover1 figcaption {
  position: absolute;
  background-image: url(../img/gears.gif);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position-y: 100%;
  background-color: rgba(71, 199, 236, 0.2);
  z-index: -1;
  opacity: 0.3;
  padding: 3% 3% 3% 7%;
  height: 57%;
  width: 84%;
  transform: translateX(104.15%);
  left: 0%;
  bottom: 17.5%;
}
.hover1 h3,
.hover1 p {
  position: relative;
  padding: 0 0px 0 18px;
  font-size: 0.9vw;
  text-align: center;
  line-height: 1.2vw;
  margin: 0;
}

.hover1:hover img,
.hover1.hover img {
  opacity: 1;
}
.hover1:hover figcaption {
  transform: translateX(11%);
  opacity: 1;
}
.containerfig {
  display: flex;
}
.containerfig>* {
  margin: 0 10px;
  flex: 1;
}

/* ---------------------------------------------------------- EXPERIENCE ---------------------------------------------------------- */

#experience {
  background-image: url(../img/mecha-footer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
}
.padding-bot-footer {
  position: relative;
  padding-bottom: 37%;
} 
#experience h2 {
  color: #51c2d5;
}

/* ---------------------------------------------------------- FOOTER ---------------------------------------------------------- */

footer {
  background-color: #131313;
  text-align: center;
  height: 6rem;
  margin-bottom: -1rem;
  padding-bottom: 0;
}
footer p,a{
  color: white;
  font-size: small;
  padding-top: 1.5rem;
}
footer a {
  text-decoration-line: underline;
}

/* ---------------------------------------------------------- Responsive ---------------------------------------------------------- */

@media (max-width: 365px) {
  .change-scoping {
    top: 10%;
  }
  .change-padding-robot {
    padding-top: 30px;
  }
@media (max-width: 1639px) {
  .change-hover1 p {
    font-size: 100%;
    line-height: 150%;
  }
}
@media (max-width: 1235px) {
  .change-hover1 p {
    font-size: 1.7vw;
    line-height: 1.7vw;
  }
}
@media (max-width: 599px) {
  .change-hover1 p {
    font-size: 2vw;
    line-height: 2vw;
  }
}

/* ----------------------------------------- That's All Folks! ----------------------------------------- */
