@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
/* font-family: 'Inconsolata', monospace; */

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: black;
    text-align: left;
    background-color: #fff;
  }
*, ::after, ::before {
    box-sizing: border-box;
}
.bg1-font {
    font-size: 1.4rem;
}
a {
  text-decoration: none !important;
  background-color: transparent;
  color: white;
}
a:hover {
  color: #ec4646;
}
p {
  font-size: 1rem;
  color: black;
  text-align: left;
  font-weight: 400;
}
h2 {
  font-size: 1.4rem;
  text-align: left;
  font-weight: 400;
}
footer {
	display : table-row;
	width: 1920px;
  position: absolute; bottom: 0; left: 0; right: 0
}

/* ----------------------------------------- Loader ----------------------------------------- */

.loader_bg {
	position: fixed;
	z-index: 999;
	background: #fff;
	width: 100%;
	height: 100%;
}

.loader {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader img {
	width: 280px;
}
  
/* ----------------------------------------- Navigation ----------------------------------------- */

/* -_-_-_-_-_-_-_-_-_-_- Barre & puces -_-_-_-_-_-_-_-_-_-_- */
.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: all 0.5s ease;
}
.tm-navbar.scroll {
  background-color: white;
  border-bottom: 3px solid #51c2d5;
}
 .nav-item {
  list-style: none;
 }
/* -_-_-_-_-_-_-_-_-_-_- Titre -_-_-_-_-_-_-_-_-_-_- */
.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
 /* OK */
.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #ec4646;
}
 /* OK */
.tm-navbar.scroll .navbar-brand {
  color: black;
}
/* -_-_-_-_-_-_-_-_-_-_- Catégories -_-_-_-_-_-_-_-_-_-_- */
.tm-nav-link {
  color: white;
  font-size: 1.2rem;
}
 /* OK */
.tm-navbar.scroll .tm-nav-link {
  color: black;
}
 /* OK */
.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #ec4646;
}

/* ----------------------------------------- BACKGROUND 0 ----------------------------------------- */

#bg0 {
  background-image: url(img/cockpit-drawing.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 117vh;
  /* min-height: 375px; */
  position: relative;
}


.tm-bg0-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-bg0-text-container-inner {
  margin-top: -150px;
  margin-left: 20px;
}

.tm-bg0-title {
  font-size: 4rem;
  text-shadow: 6px 4px 4px black;
  color: white;
  text-align: center;
  line-height: 1.5;
}
.tm-bg0-subtitle {
  font-size: 1.5rem;
  text-shadow: 5px 4px 4px black;
  color: white;
  text-align: center;
  line-height: 1.5;
}


/* ----------------------------------------- WHITE BOX 1 ----------------------------------------- */

.whitebox1{
  position:relative;
  margin: 5vh 35vh 11vh 35vh;
  padding: 20vh 0vh 10vh 0vh;
}

.wb1_wrapper{
  position:relative;
  display:flex;
  align-items:flex-start
}

.wb1_image{
  overflow:visible;
  z-index: 3;
}

.wb1_side_frame{
  position:relative;
  padding:3.5rem 0.5rem 0.5rem 2rem;
  
}
.wb1_side_frame:before{
  top:2rem;left:-6rem;right:-5rem;bottom:-2rem;
  content:"";
  position:absolute;
  z-index:2;
  border:.2rem solid #ec4646
}
.wb1_side_frame:after{
  top:0.95rem;left:-4.7rem;right:-6.1rem;bottom:-0.9rem;
  content:"";
  position:absolute;
  z-index:1;
  border:.2rem solid #51c2d5
}
#formations h2 {
  color: #ec4646;
}

/* ----------------------------------------- Transition hives ----------------------------------------- */
.hive{
  position: relative;
  max-width: 30%;
  left: 50%;
	height: auto;
  padding: 0vh 0 0vh 0;
}
.hive2{
  left: 10%;
}

/* ----------------------------------------- WHITE BOX 2 ----------------------------------------- */

  .whitebox2 {
    position: relative;
    background-image: url("");
    background-repeat: no-repeat;
    z-index: 0;
    min-height:75vh;
    width:100%;
    min-width:100vh;
    padding: 17vh 0 8vh 0;
  }

  .wb2_txt {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: black;
  }

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- Hover 1-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
  .hover1 {
    position: absolute;
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
    margin: 0px;
    top: 0;
    left: 50vh;
    max-width: 945px;
    max-height: 600px;
    width: 150%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: transparent;
    z-index: 3;
  }
  .hover1 * {
    box-sizing: border-box;
    transition: all 2.5s ease;
  }
  .hover1 img {
    max-width: 100%;
    backface-visibility: hidden;
  }
  .hover1 figcaption {
    background-image: url(img/gears.gif);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position-y: 100%;
    background-color: rgba(71, 199, 236, 0.2);
    position: absolute;
    top: 25%;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
    padding: 30px 10px 30px 70px;
    height: 57.5%;
    width: 84%;
    transform: translateX(104.15%);
  }
  .hover1 h3,
  .hover1 p {
    line-height: 1.5em;
    transform: translateX(-30px);
    margin: 0;
  }
  *.hover1 p {
    position: relative;
    padding: 0 0px 0 18px;
    font-size: 1em;
    text-align: center;
    font-weight:bold;
  }
  .hover1:hover img,
  .hover1.hover img {
    opacity: 1;
  }
  .hover1:hover figcaption {
    transform: translateX(5.525em);
    opacity: 1;
  }
  .containerfig {
    display: flex;
  }
  .containerfig>* {
    margin: 0 10px;
    flex: 1;
  }
/*#competences p{
    font-weight: 0;
  }*/
/* ----------------------------------------- WHITE BOX 3 ----------------------------------------- */

.whitebox3 {
  position: relative;
  background-image: url("img/mecha-footer.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height:107vh;
  width:100%;
  min-width:100vh;
}


.wb3_side_frame{
  position:absolute;
  padding:3.5rem 0.5rem 0.5rem 2rem;
  margin: 5% 0 0 20%;
}
.wb3_side_frame:before{
  top: 7%;left:-14%;right:-12.5%;bottom:-7%;
  content:"";
  position:absolute;
  z-index:2;
  border:.2rem solid #ec4646
}
.wb3_side_frame:after{
  top: 3.5%;left:-11.5%;right:-15%;bottom:-3.5%;
  content:"";
  position:absolute;
  z-index:1;
  border:.2rem solid #51c2d5
}
#experience h2{
  color: #51c2d5;
}
#notice p{
  position: absolute;
  color: white;
  text-align: justify;
  left: 30%;
  bottom: 4vh;
}


/* ----------------------------------------- FOOTER ----------------------------------------- */

.scoping {
  height:500px;
  width: 100%;
  background-image:url(imgtest/scope.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-size: 20vh;
  position: fixed;
  top: 3vh;
  left: 91vw;
}  

/* ----------------------------------------- That's All Folks! ----------------------------------------- */
